    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }

    body{
        background: #ffffff;
    }
    .lip{
        background: #ff7676;
        color: transparent;
    }
    /*MENU-HEDER*/
    
    header{
        /*justify-content: space-around;*/
        align-items: center;
        border-bottom: 1px solid #dedede;
        background: rgba(107, 200, 251, 0.747);
        width: 100%;
        margin: 0 auto;
        height: 90px;
    }
    .indi{
        width: 55px;
        height: 55px;
        cursor: pointer;
        margin-left: 10px;
        float: left;
        margin-top: 10px;
    }
    .logo{
        width: 110px;
        cursor: pointer;
        margin-right: auto;
        margin-left: 20px;
        height: 70px;
        float: left;
        margin-top: 5px;
    }

    .eslogan{
        padding-top: 25px;
        padding-right: 480px;

        color: #969696;
        font-size: 30px;
        transition: all 2s;
        cursor: pointer;
        float: left;/*para bajar los botones*/
    }
    .eslogan:hover{
        color: aliceblue;
    }
    li{
        display: inline-block;
        padding: 25px 0px;
        list-style: none;
        cursor: pointer;
    }
    .sobre{
        text-align: center;
        font-size: 18px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        color: #4a3866;
        transition: all 1s;
        border-radius: 25px;
        padding: 8px 8px;
        cursor: pointer;
        background-size: 0% 2px;
        text-decoration: none;
        font-weight: 600;
        background: linear-gradient(currentColor, currentColor);
        background-position: 100% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: all 0.5s;
        border-style: none;

    }
    .sobre:hover{

        background-size: 70% 2px;
    }
    .infoli{
        width: 30px;
        height: 30px;
        transition: all 0.5s;
        text-decoration: none;
        color: #000;
    }
    .lope{
        text-decoration: none;
    }
    .infoli:hover{
        color: #ef5e10;
        cursor: pointer;
        transform: translateY(-5px);
    }

    .ppl{
        color: #FFFF;
    }
    /*FIN-MENU-HEDER*/
    .lip2{
        background: #fff75de0;
        color: transparent;
        height: 10px;
    }

    /*Menù lateral*/
    #btn-menu{
        display: none;
    }
    .container-menu{
        position: fixed;
        background: rgba(0,0,0,0.5);
        width: 100%;
        height: 508vh;
        top: 0;left: 0;
        transition: all 500ms ease;
        opacity: 0;
        visibility: hidden;
        z-index: 10003;
    }
    #btn-menu:checked ~ .container-menu{
        opacity: 1;
        visibility: visible;
    }
    .cont-menu{
        width: 100%;
        max-width: 250px;
        background: #ffe9d0;
        height: 508vh;
        position: relative;
        transition: all 500ms ease;
        transform: translateX(-100%);
        z-index: 4;
    }
    #btn-menu:checked ~ .container-menu .cont-menu{
        transform: translateX(0%);
    }
    .cont-menu nav{
        transform: translateY(15%);
    }
    .cont-menu nav a{
        display: block;
        text-decoration: none;
        padding: 18px;
        color: #898989;
        border-left: 5px solid transparent;
        transition: all 1s ease;
    }
    .cont-menu nav a:hover{
        border-left: 5px solid #c7c7c7;
        background: #4e88a5;
        color: #ffffff;
    }
    .cont-menu label{
        position: absolute;
        right: 5px;
        top: 10px;
        color: #fff;
        cursor: pointer;
        font-size: 18px;
    }
    /*Fin de Menù lateral*/
    .so{
        visibility: hidden;
    }

    /*Slider*/
    .conteni{
        width: 80%;
        min-height: 60vh;
        max-width: 1200px;
        margin: 0 auto;
        overflow: hidden;
    }
    
    .slider{
        background: #f2f2f2;
        padding: 40px 0;
        width: 100%;
        /*height: 80VH;*/

    }
    
    .slider__conteni{
        display: grid;
        grid-template-columns: 50px 1fr 50px;
        align-items: center;
        gap: 1em;
        
        
    }
    .slider__body{
        grid-column: 2/3;
        grid-row: 1/2;
        opacity: 0;
        pointer-events: none;
        display: grid;
        background-color: #f2f2f2;
        grid-template-columns: 1fr max-content;
        align-items: center;
        transition: opacity 1.5s;
    }
    .slider__body--show{
        opacity: 1;
        pointer-events: unset;
        scroll-behavior: smooth;
    }
    .slider__text{
        max-width: 600px;
    }
    .subtitulo{
        font-size: 2.5rem;
        margin-bottom: 20px;
    }
    .slider__parra{
        font-weight: 300;
        font-size: 20px;
        line-height: 1.7;
    }
    
    .slider__img{
        width: 300px;
        height: 300px;
        border-radius: 50%;
        object-fit: cover;
        display: block;
        margin: 0 auto;
    }
    .slider__flechita{
        cursor: pointer;
        width: 90%;
    }
    .slider__flechita:nth-of-type(2){
        justify-self: end;
    }
    .btnsli{
        text-decoration: none;
        padding: 10px 20px;
        margin-left: 5px;
        font-size: 14px;
        background: rgb(255, 102, 0);
        color: #fff;
        border-radius: 5px;
        border-style: none;
        transition: all 0.5s;
        cursor: pointer;
    }
    .btnsli:hover{
        padding: 10px 30px;
    }

    /*Fin-Slider*/

    /*Botonocito*/
    .icon{
        width: 30px;
        height: 30px;
    }
    #btn-sobres{
        display: none;
    }
    .contenidelo{
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 1002;
    
    }
    .sistemes a, .icon2{
        display: block;
        text-decoration: none;
        background: #80ffff;
        color: #fff;
        height: 50px;
        width: 50px;
        line-height: 55px;
        text-align: center;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
        transition: all 700ms ease;
        cursor: pointer;
    }
    .sistemes a:hover{
        background: rgb(242, 242, 154);
    }
    .sistemes a{
        margin: -15px;
        opacity: 0;
        visibility: hidden;
    }
    #btn-sobres:checked~ .sistemes a{
        margin-bottom: 25px;
        opacity: 1;
        visibility: visible; 
    }
    .icon2{
        cursor: pointer;
        background: #00ffff;  
    }
    #btn-sobres:checked~ .btn-sobres .icon2{
        transform: rotate(132deg);
    }

    /*Fin-Botonocito*/

        /*  anima-burbi */

        .burbi-amimedin{
            width: 100%;
            background: #fff;
            position: relative;
            overflow: hidden;
        }
        .burbuja{
            border-radius: 50%;
    
            opacity: .3;
    
            position: absolute;
            bottom: -150;
            
            animation: burbujas 3s linear infinite ;
        }
        .burbuja1{
            background: salmon;
        }
        .burbuja2{
            background: rgb(255, 255, 255);
        }
    
        .burbuja:nth-child(1){
            width: 80px;
            height: 80px;
            left: 5%;
            animation-duration: 3s;
            animation-delay: 1s;
        }
    
        .burbuja:nth-child(2){
            width: 100px;
            height: 100px;
            left: 35%;
            animation-duration: 3s;
            animation-delay: 1.2s;
        }
    
        .burbuja:nth-child(3){
            width: 20px;
            height: 20px;
            left: 15%;
            animation-duration: 1.5s;
            animation-delay: 1.3s;
        }
    
        .burbuja:nth-child(4){
            width: 50px;
            height: 50px;
            left: 90%;
            animation-duration: 6s;
            animation-delay: 1.4s;
        }
    
        .burbuja:nth-child(5){
            width: 70px;
            height: 70px;
            left: 65%;
            animation-duration: 3s;
            animation-delay: 1.5s;
        }
    
        .burbuja:nth-child(6){
            width: 20px;
            height: 20px;
            left: 50%;
            animation-duration: 4s;
            animation-delay: 0.5s;
        }
    
        .burbuja:nth-child(7){
            width: 20px;
            height: 20px;
            left: 50%;
            animation-duration: 4s;
            animation-delay: 0.9s;
        }
    
        .burbuja:nth-child(8){
            width: 100px;
            height: 100px;
            left: 52%;
            animation-duration: 5s;
            animation-delay: 1.3s;
        }
    
        .burbuja:nth-child(9){
            width: 65px;
            height: 65px;
            left: 51%;
            animation-duration: 3s;
            animation-delay: 1.3s;
        }
    
        .burbuja:nth-child(10){
            width: 40px;
            height: 40px;
            left: 35%;
            animation-duration: 3s;
            animation-delay: 1.2s;
        }
    
    
        @keyframes burbujas{
            0%{
                bottom: 0;
                opacity: 0;
            }
            30%{
                transform: translateX(30px);
            }
            50%{
                opacity: .4;
            }
            75%{
                opacity: .01;
            }
            100%{
                bottom: 100%;
                opacity: 0;
            }
        }
        /* fin anima-burbi */

         /* galerin */

    .panconcajeta{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: rgb(255, 255, 255);

    }
    .bolillo{
        position: relative;
        width: 250px;/*pal responsive*/
        height: 250px;/*pal responsive*/
        transform-style: preserve-3d;
        animation: animatinili 40s linear infinite;
    }

    @keyframes animatinili{
        0%{
            transform: perspective(1000px) rotateY(0deg);
        }
        100%{
            transform: perspective(1000px) rotateY(360deg);
        }
    }

    .bolillo span{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-origin: center;
        transform-style: preserve-3d;
        transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);/*pal responsive*/
        -webkit-box-reflect: below 0px linear-gradient(transparent,transparent, #0004);
    }
    .bolillo span img{
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* FIN galerin */

    /*Article*/

    iframe{
        width: 100%; 
        height: 350px;
        cursor: pointer;
    }
    .masinf{
        background: #6feeee;
        width: 200px;
        text-align: center;
        padding: 5px 0;
        border-radius: 25px;
        margin: 0 auto;
        transition: all 0.5s;
        margin-top: 20px;
    }
    .masinf a {
        text-decoration: none;
        list-style: none;
        color: #000000;
        font-weight: 500;
    }
    .masinf:hover{
        cursor: pointer;
        color: #FFFF;
        background: rgb(230, 244, 122);
        transform: translateY(-10px);
    }

    /*Fin-Article*/

    /* Nuevo article */
    .contenelo{
        background: rgb(255, 255, 255);
        height: 550px;
        position: relative;
        overflow: hidden;
    }

    .contenelo .contenidin{
        display: flex;
        width: 90%;
        margin: auto;
        height: 550px;
        align-items: center;
        justify-content: space-between;
    }

    .textos{
        width: 50%;
        color: #787486;  
        z-index: 10;  
        text-align: justify;
    }
    .textos h1{
        font-size: 60px;
    }


    .contenelo iframe {
        width: 600px;
        z-index: 10;
        position: relative;
    }

    .contenelo .textos a{
        display: inline-block;
        padding: 10px 0;
        width: 150px;
        text-decoration: none;
        border: 1px solid #e78d58;
        text-align: center;
        border-radius: 3px;
        background: #f9f782;
        color: rgb(0, 0, 0);
        transition: all 0.3s ease;
        margin:  0 30%;
        font-size: 20px;
        z-index: 7;

    }
    .contenelo .textos a:hover{
        background: #e78d58;
        color: rgb(255, 255, 255);
        border: 1px solid #f9f782;
        width: 160px;
        border-radius: 50px;
        transform: scale(1.1);
    }

    .absolute{
        background: salmon;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        width: 100%;
        height: 350px;
        position: absolute;
        bottom: 0;
    }

    /* modo 2*/

    .contenelo2{
        background: salmon;
        height: 550px;
        position: relative;
        overflow: hidden;
    }

    .contenelo2 .contenidin{
        display: flex;
        width: 95%;
        margin: auto;
        height: 550px;
        align-items: center;
        justify-content: space-between;
    }

    .textos2{
        width: 45%;
        color: #fff;
        z-index: 10;
        text-align: justify;
    }

    .textos2 h1{
        font-size: 60px;
    }


    .contenelo2 iframe {
        width: 600px;
        z-index: 10;
        position: relative;

    }

    .contenelo2 .textos2 a{
        display: inline-block;
        padding: 10px 0;
        width: 150px;
        text-decoration: none;
        border: 1px solid #e78d58;
        text-align: center;
        border-radius: 3px;
        background: #f9f782;
        color: rgb(0, 0, 0);
        transition: all 0.3s ease;
        margin:  0 30%;
        font-size: 20px;
        z-index: 7;

    }
    .contenelo2 .textos2 a:hover{
        background: #ffd0b4;
        color: rgb(0, 0, 0);
        border: 1px solid #f9f782;
        width: 160px;
        border-radius: 50px;
        transform: scale(1.1);
    }

    .absolute2{
        background: rgb(255, 255, 255);
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        width: 100%;
        height: 350px;
        position: absolute;
        bottom: 0;
    }

    /* fin Nuevo article */

    /*ARTICLE-SISTEM*/
    .cajgo{
        width: 100%;

    }
    .cajgu{
        margin-top: 10px;
        width: 100%;
        text-align: center;

    }

    .subtitulo1{
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        transition: all 1s;
        background: #dedede;
        font-size: 22px;
        padding: 2px;
        right: 0px;
        color: #313131;
        border-radius: 15px;
        width: 30%;
        margin: 10px auto;
        float: left;
        margin: 20px 10% ;
    }
    .subtitulo1:hover{
        background: #f5f5f5;
        color: #000000;
        border-radius: 15px;
    }
    
    .btnj1{
        text-align: center;
        background: yellow;
        cursor: pointer;
        padding: 5px 40px;
        border: none;
        border-radius: 20px;
        font-size: 20px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.858);
        box-shadow: 2px 2px 0 5px rgb(255, 218, 7);
        transition: all 0.5s;
        margin: 20px 80px;

    }
    .btnj1:hover{
        transform: translateY(-5px);
    }
    .envule{
        background: #ffffff;
        width: 100%;
    }

    .caja1{
        width: 50%;
        float: left;
        background: #ffffff;
        display: flex;
        justify-content: center;

    }
    .caja2{
        width: 50%;
        float: left;
        background: #ffffff;
        display: flex;
        justify-content: center;
    }
    .imre1{
        width: 600px;
        height: 600px;
    }
    .imre2{
        width: 600px;
        height: 600px;
    }
    .imcir1{
        width: 600px;
        height: 600px;
    }
    .imcir2{
        width: 600px;
        height: 600px;
    }

    /*FIN-ARTICLE-SISTEM*/



        /* futerino */

        .lol{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
        }
    
        footer{
            position: relative;
            width: 100%;
            background: #414141;
            min-height: 100px;
            padding: 20px 58px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 150px;
        }
        .conetnidofooterino{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: auto;
        }
        
        .cajifooterini{
            display: flex;
            flex-direction: column;
            padding: 40px;
        }
        
        .cajifooterini .logolini img{
            width: 180px;
        }
        
        
        .cajifooterini h2{
            margin-bottom: 10px;
            color: #ffffff;
            font-weight: 700;
            /*text-align: center;*/
            font-size: 25px;
        }
        
        .cajifooterini a{
            margin-top: 10px;
            color: #ffffff;
            font-weight: 600;
            text-decoration: none;
            font-size: 15px;
            /*text-align: center;*/
            transition: all 0.3s;
        }
        
        .cajifooterini a:hover{
            opacity: 0.5;
            transform: scale(1.1);
            color: #fff;
        }
        
        .cajifooterini a .fab{
            font-size: 20px;
        }
        .cajifooterini a i{
            margin-right: 5px;
        }
        
        .nocopie{
            max-width: 1200px;
            margin: auto;
            text-align: center;
            padding: 0px 40px;
        }
        
        .nocopie p{
            margin-top: 20px;
            color: #ffffff;
        }
        
        .nocopie hr{
            border: none;
            height: 1px;
            background-color: #ffffff;
        }
        footer .girito{
            position: absolute;
            top: -100px;
            left: 0;
            width: 100%;
            height: 100px;
            background: url(../img/wave.png);
            background-size: 1000px 100px;
        }
        footer .girito#vueltita1{
            z-index: 1000;
            opacity: 1;
            bottom: 0;
            animation: tonanimation 4s linear infinite;
        
        }
        footer .girito#vueltita2{
            z-index: 999;
            opacity: 0.5;
            bottom: 10px;
            animation: tonanimation_2 4s linear infinite;
        
        }
        footer .girito#vueltita3{
            z-index: 1000;
            opacity: 0.2;
            bottom: 15px;
            animation: tonanimation 3s linear infinite;
        
        }
        footer .girito#vueltita4{
            z-index: 999;
            opacity: 0.7;
            bottom: 20px;
            animation: tonanimation_2 3s linear infinite;
        
        }
        @keyframes tonanimation{
            0%{
                background-position-x: 1000px;
            }
            100%{
                background-position-x: 0px;
            }
        }
        @keyframes tonanimation_2{
            0%{
                background-position-x: 0px;
            }
            100%{
                background-position-x: 1000px;
            }
        }
        @keyframes tonanimation_3{
            0%{
                background-position-x: 1000px;
            }
            100%{
                background-position-x: 0px;
            }
        }
        @keyframes tonanimation_4{
            0%{
                background-position-x: 0px;
            }
            100%{
                background-position-x: 1000px;
            }
        }
        
        @media screen and (max-width: 1150px) {
            .cajifooterini{
                padding: 20px;
            }
        }
        @media screen and (max-width: 700px) {
            .cajifooterini{
                padding: 0px;
            }
        }
    
        /* fin futerino */



    
    .pregunta{
        font-size: 22px;/*CAMBIAR PARA EL RESPONSIVE*/
        margin-bottom: 20px;
        margin: 10px 2px;
    
    }
    .opcionesbut{
        margin: 15px 0;
        font-size: 15px;
        padding: 5px;
        width: 60%;
        border-radius: 25px;
        background: rgb(255, 247, 161);
        transition: all 0.3s;
        cursor: pointer;
    }
    .opcionesbut:hover{
        width: 70%;
        background: rgba(255, 253, 223, 0.907);
    }
    .lo{
        width: 80%;
    }
    
    /* MODALS PANTENTADOS POR MI OSEA YO */

    .body, .modal{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .modal{
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.5);
        transition: all 0.5s ease;
        opacity: 0;
        visibility: hidden;
        z-index: 2999;
    }
    
    .contenedor{
        width: 40%;
        margin: auto;
        background: #fff;
        box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
        transition: all 0.5s ease;
        position: relative;
        transform: translateY(-30%);
        border-radius: 10px;
        top: -100px;
    }
    .contenido{
        text-align: center;
    }
    
    .contenedor h2{
        padding: 10px;
        background: #FFE1AE;
        color: rgb(104, 104, 104);
    }
    .contenedor label{
        position: absolute;
        top: 5px;
        right: 5px;
        color: #000;
        font-size: 15px;
        cursor: pointer;
    }
    
    .lbl-modal input{
        height: 22px;
        width: 22px;
        border-radius: 50%;
        border-style: dashed;
        background: rgb(104, 255, 247);
        cursor: pointer;
        transition: all 0.5s;

    }
    .lbl-modal input:hover{
        background: rgb(211, 211, 211);
        transform: rotate(360deg);
    }
    
    .cer{
        width: 40px;
        height: 40px;
    }

    /* Fon modals */

    /* CAJA TERMINAR */

    .regrehome ion-icon{
        text-decoration: none;
        color: #000;
        height: 30px;
        width: 30px;

        border-radius: 50%;
        padding: 5px;
        margin: 10px 10px;
        cursor: pointer;
        transition: all 0.5s;
        position: relative;
    }
    .regrehome ion-icon:hover{
        padding: 10px;
        background: #b7b7b74c;
        color: #ff903c;
        font-weight: 700;
    }
    .caliterm{
        background: transparent;
        margin-top: 20px;

    }
    .img-face{
        width: 65px;
        height: 65px;
        margin-top: 20px;
    }

    .pelte{
        margin-top: 20px;
    }

    /* comentarios */
    .caja-comentario{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 20px 50px;
        margin-top: 50px
    }
    
    .caja-comentario:after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url("../img/umi2.png") no-repeat center;
        background-size: cover;
        z-index: -1;
        filter: blur(40px);
    }
    .comentarios{
        max-width: 900px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #fff;
        box-shadow: 0 0 19px 5px rgba(0, 0, 0, 0.19);
    }
    .la1{
        height: 100%;
        background: url("../img/lopini.png") no-repeat center;
        background-size: cover;
        
    }
    .la2{
        padding: 25px 40px;
    
    }
    .caja-comentario .comentarios .la2 h2{
        padding-bottom: 10px;
        margin-bottom: 10px;
        position: relative;
        font-size: 20px;
    }
    .caja-comentario .comentarios .la2 h2:after{
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        height: 4px;
        width: 150px;
        border-radius: 2px;
        background-color: rgba(98, 197, 255, 0.8);
    }
    .field{
        width: 100%;
        padding: 0.5rem 1rem;
        outline: none;
        border: 2px solid rgba(0, 0, 0, 0);
        background-color: rgba(197, 197, 197, 0.6);
        font-size: 1.1rem;
        margin-bottom: 22px;
        transition: all 0.5s;
    }
    .field:hover{
        background-color: rgba(0, 0, 0, 0.1);
    }
    .field:focus{
        background-color: #fff;
        border: 2px solid rgba(30, 85, 250, 0.47);
    }
    textarea{
        min-height: 150px;
        resize: none;
    }
    .envialo{
        width: 100%;
        padding: 0.5rem 1rem;
        font-size: 1.1rem;
        background-color: rgba(98, 197, 255, 0.8);
        cursor: pointer;
        outline: none;
        border: none;
        transition: all 0.5s;
    }
    .envialo:hover{
        width: 90%;
        border-radius: 25px;
        background-color: rgb(81, 191, 255);
    }
    /* fin coment */

    /*RESPONSIVE*/



    @media (max-width:1490px){
        .eslogan{
            padding-right: 450px;
        }
        
    }
    @media (max-width:1460px){
        .eslogan{
            padding-right: 400px;
        }
        
    }
    @media (max-width:1406px){
        .eslogan{
            padding-right: 360px;
        }
        
    }
    @media (max-width:1370px){
        .eslogan{
            padding-right: 340px;
        }
        .sobre{
            font-size: 16px;
        }
    }
    @media (max-width:1320px){
        .eslogan{
            padding-right: 315px;
        }
    }
    @media (max-width:1290px){
        .eslogan{
            padding-right: 300px;
        }
    }
    @media (max-width:1285px){
        .eslogan{
            padding-right: 290px;
            font-size: 27px;
        }
        .sobre{
            font-size: 15px;
        }
    
        .indi{
            width: 50px;
            height: 50px;
            margin-left: 8px;
        }
        .logo{
            width: 110px;
            margin-left: 20px;
            height: 70px;
        }
    }
    @media (max-width:1200px){
        .eslogan{
            padding-right: 260px;
            font-size: 27px;
        }
        .sobre{
            font-size: 15px;
        }
    
        .indi{
            width: 50px;
            height: 50px;
            margin-left: 8px;
        }
        .logo{
            width: 110px;
            margin-left: 20px;
            height: 70px;
        }
         /* article */
         .contenelo .contenidin{
            flex-direction: column;
            justify-content: space-evenly;
        }
        .textos{
            width: 100%;
            text-align: center;
        }
        .contenelo iframe{
            width: 350px;
            height: 200px;
        }
        .contenelo2 .contenidin{
            flex-direction: column;
            justify-content: space-evenly;
        }
        .textos2{
            width: 100%;
            text-align: center;
        }
        
        .contenelo2 iframe{
            width: 350px;
            height: 200px;
        }


        .textos h1{
            font-size: 30px;

        }
        .textos2 h1{
            font-size: 30px;
        }
        /* fin article */
    }
    @media (max-width:1170px){
        .eslogan{
            padding-right: 240px;
            font-size: 25px;
        }
        .sobre{
            font-size: 14px;
        }
    }
    @media (max-width:1100px){
        .eslogan{
            padding-right: 190px;
            font-size: 25px;
        }
        .sobre{
            font-size: 14px;
        }
    
        .indi{
            width: 40px;
            height: 40px;
            margin-left: 7px;
        }
        .logo{
            width: 100px;
            margin-left: 18px;
            height: 60px;
        }
        .cajatexto{
            width: 90%;
            margin: 20px 5% ;
            float: none;
        }
        
        .cajailustrativo{
            width: 90%;
            margin: 20px 5% ;
            float: none;
        }
    }
    @media (max-width:1060px){
        .eslogan{
            padding-right: 170px;
            font-size: 25px;
        }
        .caja1{
            width: 90%;
            float: none;
            margin: 0 auto;
        }
        .caja2{
            width: 90%;
            float: none;
            margin: 0 auto;
        }
    }
    @media (max-width:1040px){
        .eslogan{
            padding-right: 190px;
            font-size: 24px;
        }
        .sobre{
            font-size: 13px;
        }
        .contenedor{
            width: 60%;
        }
    
    }
    @media (max-width:1000px){
        .eslogan{
            padding-right: 160px;
            font-size: 23px;
            padding-top: 20px;
        }
        .sobre{
            font-size: 11px;
        }
    
        .indi{
            width: 35px;
            height: 35px;
            margin-left: 7px;
        }
        .logo{
            width: 90px;
            margin-left: 16px;
            height: 50px;
        }

        
    }
    @media screen and (max-width: 950px){
        .sobre{
            display: none;/*poner esto importante*/
        }
        .so{
            visibility: visible;
            display: block;
        }
        .li {
            padding: 15px 25px;
            list-style: none;
            cursor: pointer;
        }
        .bolillo{
            width: 200px;/*pal responsive*/
            height: 200px;/*pal responsive*/
        }
        
        
        .bolillo span{
            transform: rotateY(calc(var(--i) * 45deg)) translateZ(300px);/*pal responsive*/
        }
        .eslogan{
            padding-right: 300px;
            font-size: 23px;
        }
        .logi {

            position: absolute;
        }
    }

    @media (max-width:875px){
        .eslogan{
            padding-right: 250px;
            font-size: 23px;
        }
        
    }
    @media screen and (max-width: 850px){
        .comentarios{
            grid-template-columns: 1fr;
        }
    }
    @media (max-width:837px){
        .infoli{
            display: none;
        }
        .eslogan{
            padding-right: 200px;
            font-size: 23px;
        }
        
    }
    @media (max-width:805px){
        .eslogan{
            padding-right: 150px;
            font-size: 23px;
        }
        .subtitext{
            width: 80%;
            margin: 5px auto;
        }
        .subtitulo1{
            width: 40%;
        }
        
        
    }

    

    @media (max-width:769px){
        .slider__body{
            grid-template-columns: 1fr;
            grid-template-rows: max-content 1fg;
            gap: 1em;
        }
        .slider__imagen{
            grid-row: 1/2;
        }
        .slider__img{
            width: 210px;
            height: 210px;
        }
        .subtitulo1{
            margin: 20px 5% ;
        }
        .envule{
            background: #ffffff;
            width: 100%;
            margin-left: 10px;
        }
        .pregunta{
            font-size: 16px;/*CAMBIAR PARA EL RESPONSIVE*/
            margin-bottom: 20px;
        
        }
        .opcionesbut{
            font-size: 12px;

        }
        .slider {

            height: 600px;
        }
        .caja1{
            width: 90%;
            float: none;
            margin: 0 auto;
        }
        .caja2{
            width: 90%;
            float: none;
            margin: 0 auto;
        }


        .contenedor{
            width: 80%;
        }
        
    }
    @media (max-width:753px){
        .eslogan{
            padding-right: 100px;
            font-size: 23px;
        }
    }
    @media (max-width:740px){
        .eslogan{
            padding-right: 80px;
            font-size: 23px;
        }
        
    }
    @media (max-width:725px){
        .eslogan{
            padding-right: 60px;
            font-size: 23px;
        }

    }

    @media (max-width:700px){
        .eslogan{
            display: none;
        }
        .logo {
            margin-right: 400px;
        }

                /* article */
                .textos{
                    font-size: 15px;
                
                }
                .textos2{
                    font-size: 15px;
                
                }
                .textos h1{
                    font-size: 28px;

                }
                .textos2 h1{
                    font-size: 28px;
                }
                .contenelo iframe{
                    width: 350px;
                    height: 200px;
                }
                .contenelo2 iframe{
                    width: 350px;
                    height: 200px;
                }
                /* fin article */
                .bolillo{
                    width: 180px;/*pal responsive*/
                    height: 180px;/*pal responsive*/
                }
                
                
                .bolillo span{
                    transform: rotateY(calc(var(--i) * 45deg)) translateZ(250px);/*pal responsive*/
                }
    }
    @media (max-width:675px){

        .slider {
            height: 700px;
        }
        .logo {
            margin-right: 350px;
        }


    }
    @media (max-width:605px){
        .imre1{
            width: 380px;
            height: 400px;
        }
        .imre2{
            width: 380px;
            height: 400px;
        }
        .logo {
            margin-right: 300px;
        }

        
    }    
    @media (max-width:555px){

        .logo {
            margin-right: 250px;
        }

        
    }
    @media screen and (max-width: 580px){

        .bolillo{
            width: 160px;/*pal responsive*/
            height: 160px;/*pal responsive*/
        }
        
        
        .bolillo span{
            transform: rotateY(calc(var(--i) * 45deg)) translateZ(220px);/*pal responsive*/
        }
    }
    @media (max-width:511px){
        .imcir1{
            width: 300px;
            height: 300px;
        }
        .imcir2{
            width: 300px;
            height: 300px;
        }
        .contenedor{
            width: 90%;
        }
        .contenedor h2{
            font-size: 19px;
        }
        .calitel{
            font-size: 15px;
        }
        .pelte{
            font-size: 14px;
        }
        .subtitulo1{
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            transition: all 1s;
            background: #dedede;
            font-size: 18px;
            padding: 2px;
            right: 0px;
            color: #313131;
            border-radius: 15px;
            width: 85%;
            margin: 10px auto;
            float: none;
        }
        .logo {
            margin-right: 200px;
        }
    }
    @media screen and (max-width: 500px){
        .caja-comentario{
            padding: 20px 15px;
        }
        .la2 {
            padding: 25px 15px;
        }
        .opcionesbut{
            width: 90%;
        }
        .lo{
            width: 95%;
            font-size: 9px;
        }
    }

    @media (max-width:496px){
        header{
            height: 80px;
        }
        .slider {
            height: 700px;
        }
        .conteni {
            width: 100%;

        }
                    /* article */
                    .contenelo .contenidin{
                        width: 99%;
            
                    }
                    .textos h1{
                        font-size: 20px;
                    }
                    .contenelo iframe{
                        width: 300px;
                        height: 200px;
                    }
                    .contenelo2 .contenidin{
                        width: 99%;
                    }
                    .textos2 h1{
                        font-size: 20px;
                    }
                    .contenelo2 iframe{
                        width: 300px;
                        height: 200px;
                    }
                    .textos{
                        font-size: 12px;
                    
                    }
                    .textos2{
                        font-size: 12px;
                    
                    }
    }
    @media screen and (max-width: 490px){

        .bolillo{
            width: 130px;/*pal responsive*/
            height: 130px;/*pal responsive*/
        }
        
        
        .bolillo span{
            transform: rotateY(calc(var(--i) * 45deg)) translateZ(200px);/*pal responsive*/
        }
    }
    @media screen and (max-width: 450px){
        .logo {
            margin-right: 150px;
        }
        .no{
            display: none;
        }
        /* article */
    .contenelo .contenidin{
        width: 99%;

    }
    .textos h1{
        font-size: 20px;
    }
    .contenelo iframe{
        width: 250px;
        height: 200px;
    }
    .contenelo2 .contenidin{
        width: 99%;
    }
    .textos2 h1{
        font-size: 20px;
    }
    .contenelo2 iframe{
        width: 250px;
        height: 200px;
    }
    .textos{
        font-size: 12px;
    
    }
    .textos2{
        font-size: 12px;
    
    }
        /* fin article */
    
    .bolillo{
        width: 200px;/*pal responsive*/
        height: 200px;/*pal responsive*/
    }
    
    
    .bolillo span{
        transform: rotateY(calc(var(--i) * 45deg)) translateZ(300px);/*pal responsive*/
    }    
}
@media screen and (max-width: 440px){

    .bolillo{
        width: 150px;/*pal responsive*/
        height: 150px;/*pal responsive*/
    }
    
    
    .bolillo span{
        transform: rotateY(calc(var(--i) * 45deg)) translateZ(200px);/*pal responsive*/
    }  
    .panconcajeta {
        min-height: 40vh;
    } 
}

    @media (max-width:435px){

        .eslogan{
            font-size: 18px;
        }


        .caja1{
            width: 100%;
            float: none;
            margin-left: 0px;
        }
        .caja2{
            width: 100%;
            float: none;
            margin-left: 0px;
        }

        
        .subtitulo1{
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            transition: all 1s;
            background: #dedede;
            font-size: 18px;
            padding: 2px;
            right: 0px;
            color: #313131;
            border-radius: 15px;
            width: 70%;
            margin: 10px auto;
            float: none;

        }
        .btnj1{
            margin: 20px 20px;
        }
        .pregunta{
            font-size: 14px;/*CAMBIAR PARA EL RESPONSIVE*/
        }

 
        
        
    }
    @media (max-width:425px){
        .logo {
            margin-right: 120px;
        }
        .slider__conteni{
            grid-template-columns: 25px 1fr 25px;
        }
        .slider__flechita{
            width: 100%;
        }
        .slider__img{
            width: 180px;
            height: 180px;
        }
        .subtitulo{
            font-size: 2rem;
            margin-bottom: 15px;
        }
    
        .slider__parra{
            font-size: 1rem;
            line-height: 1.6;
        }
        .btnj1{
            font-size: 18px;
        }
        
    }
    @media (max-width:380px){
        .slider {
            height: 620px;
        }
        .logo {
            margin-right: 70px;
        }
    }


    @media (max-width:325px){
        .logo {
            margin-right: 20px;
        }
        .subtitulo1{
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            transition: all 1s;
            background: #dedede;
            font-size: 18px;
            padding: 2px;
            right: 0px;
            color: #313131;
            border-radius: 15px;
            width: 85%;
            margin: 10px auto;
            float: none;
        }
        .eslogan {
            padding-right: 0px;
            font-size: 20px;
            float: left;
        }
        .sobre{
            font-size: 11px;
        }
    
        .indi{
            width: 40px;
            height: 40px;
            margin-left: 7px;
        }
        .logo{
            width: 100px;
            margin-left: 16px;
            height: 60px;
        }
        header{
            height: 120px;
        }
        
        
    }
    @media screen and (max-width: 290px){
        /* article */
        .contenelo img{
            width: 200px;
        }
        .contenelo2 img{
            width: 200px;
        }
            /* fin article */
        .logo {
            margin-right: 10px;
        }
    }


    /*  Si se pudo carnal animo si lees esto ya acabaste*/